{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
    Все новости/статьи
{% endblock title %}


{% block content %}
<br>
    <h2>Список всех постов</h2>
    <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
        <br>
        <br>
    </form>
    <br>
    {% if post %}
        <ol style="font-weight:500">
            {% for name in post %}
            <li style="text-align:left"> Заголовок поста - "{{name.title_post|censor:"детей"}}" <br> Дата публикации - {{ name.date_of_creation_post| date:"d F Y f A"}} <br> Краткое содержание поста - {{ name.text_post|censor:"детей"|slice:":20"}} </li>
            {% endfor %}
        </ol>
    {% else%}
    <h2>Список пуст</h2>
    {% endif %}


{% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
       ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
        ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}